:root {
	--primary-color: #010102;
	--secondary-color: #09090f;
	--tertiary-color: #1a1a28;
	--accent-white: #d9d9d9;
	--accent-purple: #9b59b6;
	--text-color: #ffffff;
	--background-color: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Jersey 25", sans-serif;
}

/*Header*/
header {
	background-color: var(--primary-color);
	color: var(--text-color);
}

.main-header {
	height: 4.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 5.5rem;
}

.main-header h1 {
	font-size: 1.9em;
	flex-grow: 1;
	margin: 0;
}

.main-header > h1 a {
	text-decoration: none;
	color: var(--text-color);
}

.main-header img {
	height: 2rem;
	filter: invert(1);
}

/*Login and Sign Up button*/
.auth-buttons {
	display: flex;
	gap: 0.9rem;
}

.auth-buttons .btn-login,
.auth-buttons .btn-signup {
	width: 5rem;
	padding: 0.5em;
	border-radius: 0.625em;
	cursor: pointer;
}

.auth-buttons .btn-login {
	background-color: var(--primary-color);
	color: var(--text-color);
	font-size: 1em;
	border: 1px solid var(--accent-white);
	transition: all 0.3s ease;
}

.auth-buttons .btn-login:hover {
	background-color: var(--accent-white);
	color: var(--primary-color);
}

.auth-buttons .btn-signup {
	background-color: var(--accent-purple);
	color: var(--primary-color);
	font-size: 1em;
	border: 1px solid var(--accent-purple);
	transition: all 0.3s ease;
}

.auth-buttons .btn-signup:hover {
	background-color: var(--primary-color);
	color: var(--accent-purple);
}

/*user navigationn if the user logged in successfully*/
.user-nav {
	display: none;
}

.user-nav ul {
	list-style: none;
	position: relative;
}

.user-nav ul li {
	font-size: 1rem;
	margin: 0 1em;
}

.user-nav ul li a {
	text-decoration: none;
	transition: all 0.3s ease;
}

.user-nav ul li a:hover {
	color: var(--accent-purple);
}

.user-nav .profile {
	margin-left: 15px;
	cursor: pointer;
}

/*drop down user profile*/
.user-nav .drop-down-sign {
	position: absolute;
	width: 1rem;
	height: 1rem;
	background-color: var(--accent-purple);
	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	right: 5.7%;
	bottom: 92.5%;
	rotate: 90deg;
	cursor: pointer;
	z-index: 1;
}

.drop-down-sign span {
	font-size: 1rem;
}

.profile-menu-wrap {
	position: absolute;
	top: 10%;
	right: 5.5rem;
	width: 320px;
	max-height: 0px;
	overflow: hidden;
	z-index: 5;
	transition: max-height 0.5s ease, opacity 0.5s ease;
}

.profile-menu-wrap.open-menu {
	max-height: 400px;
	opacity: 1;
}

.profile-menu {
	background-color: var(--tertiary-color);
	padding: 20px;
}

.user-info {
	display: flex;
	align-items: center;
}

.user-info img {
	border-radius: 50%;
	padding: 0;
	margin: 0;
	margin-right: 15px;
}

.user-info h2 {
	font-weight: 500;
}

.profile-menu hr {
	border: 0;
	height: 1px;
	width: 100%;
	background-color: var(--accent-white);
	margin: 15px 0 10px;
}

.profile-menu-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--text-color);
	margin: 12px 0;
	color: var(--text-color);
	cursor: pointer;
}

.profile-menu-link img {
	width: 40px;
	background: var(--accent-white);
	border-radius: 50%;
	padding: 8px;
	margin-right: 15px;
}

.profile-menu-link p {
	width: 100%;
}

.profile-menu-link span {
	font-size: 1.2em;
	transition: transform 0.5s;
}

.profile-menu-link:hover span {
	transform: translateX(5px);
}

.profile-menu-link:hover p {
	font-weight: 600;
}

/*sub header*/
.sub-header {
	height: 2.3rem;
	background-color: var(--secondary-color);
	font-size: 0.875em;
	display: flex;
	align-items: center;
	padding-left: 5.5rem;
}

nav ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
}

nav ul li {
	margin-right: 0.9rem;
}

nav ul li a {
	text-decoration: none;
	color: var(--text-color);
}

.login-container,
.signup-container {
	position: relative;
	width: 750px;
	height: 450px;
}

/*Login/Sign Up form container*/
.auth-container {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
}

.auth-container .modal-box {
	width: 750px;
	height: 450px;
	position: relative;
	background-color: var(--tertiary-color);
	animation: pop 0.3s ease-out;
	border-radius: 1.25em;
	overflow: hidden;
}

.btn-close-login,
.btn-close-signup {
	color: var(--text-color);
	position: absolute;
	top: 0.625rem;
	right: 1.375rem;
	font-size: 2.5em;
	cursor: pointer;
	z-index: 10;
}

.main-content {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--text-color);
	text-align: center;
	padding: 0 20px;
	border-radius: 1.25em;
	z-index: 1;
	transition: 0.6s ease-in-out 1.2s, visibility 0s 0.5s;
}

.modal-box.active .main-content {
	right: 50%;
}

.main-content.signup {
	visibility: hidden;
}

.modal-box.active .main-content.signup {
	visibility: visible;
}

.modal-box.active .main-content.login {
	visibility: hidden;
}

.main-content h2 {
	font-size: 2.5em;
	color: var(--text-color);
	margin: 0 0 0.625em 0;
}

.main-content p {
	font-size: 0.75em;
	color: var(--text-color);
	margin-bottom: 0.625em;
}

#login-form,
#signup-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#login-form input,
#login-form button,
#signup-form input,
#signup-form button {
	width: 100%;
	height: 3rem;
	margin-bottom: 0.625em;
}

#login-form input,
#signup-form input {
	background-color: var(--accent-white);
	font-size: 1em;
	padding: 13px 50px 13px 20px;
	margin-bottom: 0.625em;
	border: 1px solid var(--accent-white);
	border-radius: 0.625em;
	outline: none;
	font-weight: 500;
}

#login-form input::placeholder,
#signup-form input::placeholder {
	color: #888;
	font-weight: 400;
}

#login-form .forgot-link {
	font-size: 0.75em;
	color: var(--text-color);
	margin-bottom: 0.625em;
	text-decoration: none;
}

#login-form button,
#signup-form button {
	background-color: var(--accent-purple);
	color: var(--text-color);
	font-size: 1em;
	border: 1px solid var(--accent-purple);
	border-radius: 0.625em;
	cursor: pointer;
	transition: all 0.3s ease;
}

#login-form button:hover,
#signup-form button:hover {
	background-color: #8e44ad;
	color: var(--text-color);
	border: 1px solid #8e44ad;
}

.main-content .login-separator,
.main-content .signup-separator {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.login-separator hr,
.signup-separator hr {
	width: 145px;
	border: 1px solid var(--text-color);
	opacity: 0.7;
	margin-bottom: 0.3em;
}

.btn-login-google,
.btn-signup-google {
	height: 3rem;
	font-size: 1em;
	background-color: var(--accent-white);
	margin-bottom: 0.625em;
	border: 1px solid var(--accent-white);
	border-radius: 0.625em;
	cursor: pointer;
}

.btn-login-google:hover,
.btn-signup-google:hover {
	background-color: #a6a6a6;
	color: var(--text-color);
	border: 1px solid #a6a6a6;
}

.toggle-box {
	position: absolute;
	width: 100%;
	height: 100%;
}

.toggle-box::before {
	content: "";
	position: absolute;
	left: -250%;
	width: 300%;
	height: 100%;
	background-color: var(--accent-purple);
	border-radius: 8em;
	z-index: 2;
	transition: 1.8s ease-in-out;
}

.modal-box.active .toggle-box::before {
	left: 50%;
}

.toggle-panel {
	position: absolute;
	width: 50%;
	height: 100%;
	/*background-color: pink;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
	transition: 0.6s ease-in-out;
}

.toggle-panel.toggle-left {
	left: 0;
	transition-delay: 1.2s;
}

.modal-box.active .toggle-panel.toggle-left {
	left: -50%;
	transition-delay: 0.6s;
}

.toggle-panel.toggle-right {
	right: -50%;
	transition-delay: 0.6s;
}

.modal-box.active .toggle-panel.toggle-right {
	right: 0;
	transition-delay: 1.2s;
}
.toggle-panel h2 {
	font-size: 2.5em;
	margin: 0 0 0.625em 0;
}

.toggle-panel p {
	font-size: 0.75em;
	margin-bottom: 1.9rem;
}

.toggle-panel button {
	width: 9.375rem;
	height: 3rem;
	font-size: 1em;
	background: transparent;
	color: var(--text-color);
	border: 1px solid var(--accent-white);
	border-radius: 0.625em;
	cursor: pointer;
	transition: all 0.3s ease;
}

.toggle-panel button:hover {
	background-color: var(--accent-white);
	color: var(--primary-color);
}

/*keyframe for */
@keyframes pop {
	from {
		transform: scale(0.9);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
