<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Header</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
		<link href="https://fonts.googleapis.com/css2?family=Jersey+25&amp;display=swap" rel="stylesheet" />
	</head>
	<body>
		<header>
			<div class="header">
				<div class="website-identity">
					<img src="/frontend/src/assets/images/square-box-32.png" />
					<h1>BBUILDS-LABPC</h1>
				</div>

				<div class="admin-action">
					<h2>Admin</h2>
					<a id="logout-btn" class="logout-btn">
						<img src="/frontend/src/assets/images/logout-icon.svg" />
						<p>Logout</p>
					</a>
				</div>
			</div>
		</header>
	</body>
</html>
